@model IEnumerable<net_e_commerce.Models.Product>
<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Clothes</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                @if (item.CategoryId == 1)
                {
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                @if (item.Quantity == 0)
                                {
                                    <span class="bage">Sold Out</span>
                                }
                                else if (item.Quantity < 10)
                                {
                                    <span class="bage">Last @Url.Content(item.Quantity.ToString()) product</span>
                                }
                                <img class="img-responsive" src="@Url.Content(item.Photo)" alt="product-img" />
                                <div class="preview-meta">
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">@Url.Content(item.Name)</a></h4>
                                <p class="price">$@Url.Content(item.Price.ToString())</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>